.radio-group{
    width: 100%;
}

.radio{
    display: flex;
    gap:10px;
    align-items: center;
    margin: 10px 0;
}

.radio label{
    margin: 0;
    font-weight: 400;
}

.radio input{
    margin: 0;
    width: 15px;
    height: 15px;
}

.checkbox{
    display: flex;
    gap:10px;
    align-items: center;
    margin: 10px 0;
}

.checkbox input{
    margin: 0;
    width: 15px;
    height: 15px;
}

.radio-wrapper{
    position: relative;
}

.custom-radio .mantine-radio-label {
    order: -1;
    margin-right: 8px; 
}

.mantine-Radio-inner{
    order: -1;
    margin-right: 8px;
}

.m-89c4f5e4{
    order: -1;
    margin-right: 8px;
}

.m-8ee546b8{
    order: -1;
    margin-right: 8px;
}