.header {
  height: rem(60px);
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: rem(1px) solid light-dark(#dee2e6, #424242);
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  color: light-dark(#000, #fff);
  font-weight: 500;
  font-size: 14px;

  @media (max-width: 768px) {
    height: rem(42px);
    width: 100%;
  }

  @mixin hover {
    background-color: light-dark(#f8f9fa, #2e2e2e);
  }
}

.subLink {
  width: 100%;
  padding: 10px 16px;
  border-radius: 8px;
  margin-bottom: 10px;

  @mixin hover {
    background-color: light-dark(#f8f9fa, #242424);
  }
}

.dropdownFooter {
  background-color: light-dark(#f8f9fa, #242424);
  margin: calc(16px * -1);
  margin-top: 12px;
  padding: 16px calc(16px * 2);
  padding-bottom: 32px;
  border-top: rem(1px) solid
    light-dark(#f1f3f5, #3b3b3b);
}
