.footer {
  margin-top: rem(90px);
  border-top: rem(1px) solid light-dark(#e9ecef, #3b3b3b);
  background-color: #f8f9fa;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: 576px) {
    margin-top: 16px;
  }
}
